.button {
  padding: 8px 0;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
  background-color: var(--darkgray);
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
  margin-top: 5px;
}

.button:hover {
  background-color: var(--yellow);
  color: black;
}
