.formContainer {
  width: 25%;
  background-color: #ffffff;
  color: #000000;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 30px 35px;
  border-radius: 8px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.redirectMessage {
  text-align: center;
}

@media screen and (max-width: 500px) {
  .formContainer {
    width: 80%;
  }
}

@media screen and (min-width: 501px) and (max-width: 900px) {
  .formContainer {
    width: 50%;
  }
}

@media screen and (min-width: 901px) and (max-width: 1200px) {
  .formContainer {
    width: 40%;
  }
}
